body{
    background-color:#f9f9f9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    width: 1440px;
}


.supervisor{
    width: 24%;
    height: 250px;
    position: absolute;
    left: 114px;
    top: 325px;
    background-color: white;
    border-top: solid 3px cyan;
    border-radius: 2%;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
}

.team-builder{
    width: 24%;
    height: 250px;
    position: absolute;
    left: 535px;
    top: 200px;
    background-color: white;
    border-top: solid 3px red;
    border-radius: 2%;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    
}

.karma{
    width: 24%;
    height: 250px;
    position: absolute;
    left: 535px;
    top: 500px;
    background-color: white;
    border-top: solid 3px orange;
    border-radius: 2%;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
}

.calculator{
    width: 24%;
    height: 250px;
    position: absolute;
    left: 920px;
    top: 325px;
    background-color: white;
    border-top: solid 3px blue;
    border-radius: 2%;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
}

.phrase{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-top: 0;
}

.Reliable{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
}

.supervisor-img{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.team-builder-img{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.karma-img{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.calculator-img{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

@media screen and (max-width:400px){
    .supervisor{
        width: 92%;
    }

    .team-builder{
        width: 92%;
    }

    .karma{
        width: 92%;
    }

    .calculator{
        width: 92%;
    }
}

.footer{
    position: relative;
    top: 620px;
    font-weight: 600;
    font-size: 12px;
}

a{
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}
